/* App Colors */
$blue: #4484ce;
$gray: #d9d9d9;
$yellow: #f9cf00;
$orange: #f19f4d;

/* App Layout */

$app-side-margin: 10%;
$navbar-height: 75px;
$app-height: calc(100vh - #{$navbar-height});

/* App Fonts */

$font-size: 15px;
$font-size-title: 25px;
$font-size-large: 21px;
$font-weight-bold: 500;
