@import '~react-vis/dist/style';
@import '~styles/variables';

.rv-xy-plot {
  overflow-x: visible;
  .rv-xy-plot__inner {
    overflow-x: visible;
  }
}

.line-chart-label {
  text {
    font-weight: $font-weight-bold;
    font-size: $font-size;
  }
}

.rv-crosshair {
  .rv-crosshair__line {
    background-color: black;
  }
}

.crosshair {
  background-color: black;
  opacity: 0.85;
  padding: 5px;
  color: white;
  width: 100px;
  text-align: center;
  font-family: sans-serif;
}

.chart-key-container {
  max-width: 350px;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-wrap: wrap;

  .chart-key {
    margin-right: 10px;
    margin-bottom: 10px;

    .key-color {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.line-chart-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

:export {
  blue: $blue;
  gray: $gray;
  orange: $orange;
  yellow: $yellow;
  lightblue: lighten($blue, 30%);
  darkblue: darken($blue, 30%);
  darkgray: darken($gray, 30%);
  darkorange: darken($orange, 30%);
  darkyellow: darken($yellow, 30%);
  bluegreen: #1dbab4;
  green: #0c755b;
  red: #ff3a22;
  yellowgreen: #9cb700;
  brown: #9f8370;
}
