@import '~styles/variables';

$body-padding: 30px;

.App {
  min-height: $app-height;
  font-size: $font-size;
}

.body {
  display: flex;
  justify-content: center;
  background-color: lighten($gray, 10%);
}

.content-container {
  background-color: white;
  min-height: calc(#{$app-height} - #{$body-padding});
  padding-top: $body-padding;
  flex-basis: 1000px;
}
